
li:before {content: '\1F4DA'; margin-left: -20px; margin-right: 10px;}

/* .p {
    font-family: Arial, Helvetica, sans-serif;
} */

* {
    font-family: Arial, Geneva, Helvetica, sans-serif;
  }

body {
    background-color: #EDF7F6;
    padding: .5em;
}

input{ 
    font-size:1em;
    padding:.5em;
    width: 250px;
}

button {
    font-size: 1em;
    padding: .5em;
    margin: 2px;
}

#resultsdiv {
    width: 500px;
    padding: .5em;
}

ul li {
    margin: 5px;
}

#loading {
    width: 2rem;
    height: 2rem;
    border: 5px solid #f3f3f3;
    border-top: 6px solid #9c41f2;
    border-radius: 100%;
    margin: auto;
    visibility: hidden;
    animation: spin 1s infinite linear;
}

#loading.display {
    visibility: visible;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}